/*	--------------------------------------------------------------------------------------
	IGNORE THIS SECTION - SCROLL DOWN ----------------------------------------------------
	----------------------------------------------------------------------------------- */

							/*	http://meyerweb.com/eric/tools/css/reset/
								v2.0 | 20110126
								License: none (public domain) 	*/

							html, body, div, span, applet, object, iframe,
							h1, h2, h3, h4, h5, h6, p, blockquote, pre,
							a, abbr, acronym, address, big, cite, code,
							del, dfn, em, img, ins, kbd, q, s, samp,
							small, strike, strong, sub, sup, tt, var,
							b, u, i, center,
							dl, dt, dd, ol, ul, li,
							fieldset, form, label, legend,
							table, caption, tbody, tfoot, thead, tr, th, td,
							article, aside, canvas, details, embed,
							figure, figcaption, footer, header, hgroup,
							menu, nav, output, ruby, section, summary,
							time, mark, audio, video {
								margin: 0;
								padding: 0;
								border: 0;
								font-size: 100%;
								font: inherit;
								vertical-align: baseline;
								}
							/* HTML5 display-role reset for older browsers */
							article, aside, details, figcaption, figure,
							footer, header, hgroup, menu, nav, section {
								display: block;
								}
							body {
								line-height: 1;
								}
							ol, ul {
								list-style: none;
								}
							blockquote, q {
								quotes: none;
								}
							blockquote:before, blockquote:after,
							q:before, q:after {
								content: '';
								content: none;
								}
							table {
								border-collapse: collapse;
								border-spacing: 0;
								}

/*	--------------------------------------------------------------------------------------
	--------------------------------------------------------------------------------------
	OUR STUFF BEGINS HERE ----------------------------------------------------------------
	--------------------------------------------------------------------------------------
	----------------------------------------------------------------------------------- */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	SELECTORS KEY ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

	HTML                CSS			|	Notes
	--------------------------------+------------------------------------------------
	<xxx> </xxx>        xxx { }		|	"xxx" is not arbitrary, but recognized
	<xxx id="yyy">      #yyy { }	|	Should be only one "yyy" (unique)
	<xxx class="zzz">   .zzz { }	|	Can be many "zzz" (classification)

	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
	+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

html {
	/* Advanced: If you want to use "rem" units (root em), then specify base font size here */
	/* This is good because then you can change just this for smaller screens and
	all relative sizes will stay relative to each other */
	font-size: 16px;
	}

/*	--------------------------------------------------------------------------------------
	BODY ------------------------------------------------------------------------------ */
body {
	width: 100vw;
	/*background-image: url('../100px-center.png');
	background-position: center center;*/
	}

nav, header, main, footer {
	/* Make the same change (margins?) to all 4 top-level elements */
	margin: 0 auto;
	padding: 0;
	}
/*	--------------------------------------------------------------------------------------
	GLOBAL SETTINGS ------------------------------------------------------------------- */

/*.float-fix {
	clear: both;
	background-color: black;
	width:1px;
	height:0;
}*
/*	--------------------------------------------------------------------------------------
	NAV ------------------------------------------------------------------------------- */

#navigation__menu li{
	text-align: left;
	display: inline;
	padding-right: 2rem;
}
@media all and (max-width: 500px){
	#navigation__menu li{
		text-align: left;
		display: block;
		padding-right: 2rem;
	}
}
#navigation__menu li a{
	text-decoration:none;
	color: rgba(1,30,45,1);
	font:1rem 'Noto Sans',sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
#navigation__menu li a:hover{
	color: rgba(255,70,10,1);
}
#navigation__menu{
		z-index: 2;
		position: absolute;
		margin-top: 3rem;
		margin-left: 3rem;
}
@media all and (max-width: 800px){
	#navigation__menu{
		display: none;
	}
}
@media all and (max-width: 500px){
	#navigation__menu{
		display: none;
	}
}
#navigation__menu ul {
	position: relative;
	padding: 0;
	margin: 0;
	line-height: 1rem;
	text-align: right;
	color: #888888;
}
/*modal container*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    padding-top: 1rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 40vw;
		margin-left: 60vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(1,30,45,1); /* Black w/ opacity */
		/*background-color: rgba(1,78,116,1);*/
		-webkit-animation-name: animateleft;
    -webkit-animation-duration: 0.8s;
    animation-name: animateleft;
    animation-duration: 0.8s
}
@media all and (max-width: 800px)
{
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 4; /* Sit on top */
	    padding-top: 1rem; /* Location of the box */
	    width: 100vw;
			margin: 0;
	    height: 100vh;
	    overflow: auto;
	    background-color: rgba(1,30,45,1); /* Black w/ opacity */
			/*background-color: rgba(1,78,116,1);*/
			-webkit-animation-name: animateleft;
	    -webkit-animation-duration: 0.8s;
	    animation-name: animateleft;
	    animation-duration: 0.8s
	}
	.modal-content{
		width: 100vw;
		margin: 0;
	}
	.close{
		margin-left: 90vw !important;
	}

}
@media all and (max-width: 500px)
{
	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 4; /* Sit on top */
	    padding-top: 1rem; /* Location of the box */
	    width: 100vw;
			margin: 0;
	    height: 100vh;
	    overflow: auto;
	    background-color: rgba(1,30,45,1); /* Black w/ opacity */
			/*background-color: rgba(1,78,116,1);*/
			-webkit-animation-name: animateleft;
	    -webkit-animation-duration: 0.8s;
	    animation-name: animateleft;
	    animation-duration: 0.8s
	}
	.modal-content{
		width: 100vw;
		margin: 0;
	}
	.close{
		margin-left: 83vw !important;
	}

}

#myBtn{
	display: none;

}
@media all and (max-width: 800px){
	#myBtn{
		display: block;
		position: absolute;
		margin-left: 90vw;
		width: 3rem;
		height: 3rem;
		margin-top:3rem;
	}
}
@media all and (max-width: 500px){
	#myBtn{
		display: block;
		position: absolute;
		margin-left: 87vw;
		width: 3rem;
		height: 3rem;
		margin-top:3rem;
	}
}

/* Modal Content */
.modal-content {
    float: right;
    padding: 2rem;
    /*border: 1px solid #888;*/
    width: 100vw;
		/*transition: all 0.3s ease-in-out;*/
    line-height: 4rem;
}
@-webkit-keyframes animateleft {
    from {right:-20rem; opacity:0}
    to {right:0; opacity:1}
}

@keyframes animateleft {
    from {right:-20rem; opacity:0}
    to {right:0; opacity:1}
}
.modal-content ul{
	text-align: right;
	color:#fd3;
	font-size: 1.5rem;
	font-family: 'Noto Sans',sans-serif;
	font-weight: 700;
	padding-right: 2rem;
}

/* The Close Button */
.close {
    color: #fff;
		opacity: 1;
    position: absolute;
		margin-left:94vw;
		margin-top: 0rem;
    font-size: 5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
		opacity: 1;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*	--------------------------------------------------------------------------------------
	HEADER ---------------------------------------------------------------------------- */

header {
	}

/*	--------------------------------------------------------------------------------------
	MAIN ------------------------------------------------------------------------------ */

main {

	}
.backgroundimage{
	height: 100vh;
	width: 100vw;
	background-image: url("WebsiteIllustrationy.gif");
	/*background-color:  #fff0a3;*/
	background-color:  #fd3;
	background-repeat:no-repeat;
  background-size: 125% 125%;
	background-position: top center;
}
.firstpage{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top:50vh;
	}
.firstpage p{
	text-align: left;
	font: 2rem 'Amatic SC', cursive;
	color: rgba(1,30,45,1);
	font-weight: 700;
	/*padding-top: 50vh;*/
	padding-left: 2rem;
  box-sizing: border-box;
	}
.India{
	font:8rem 'Fjalla One',impact, sans-serif;
	line-height: 7.2rem;
	text-transform: uppercase;
	text-align:right;
	color: rgba(255,70,10,1);
	}
	@media all and (max-width: 800px){

		.backgroundimage{
			background-image: url("WebsiteIllustrationy.png");
			background-color:  #fd3;
			background-repeat:no-repeat;
		  background-size: 100% 100%;
			background-position: top center;
		}
	}
	@media all and (max-width: 500px){
	.backgroundimage{
			background-image: url("");
			background-color:  #fd3;
		}
	.firstpage p{
			padding-left: 8vw;
		}
	}
.arrowContainer {
	margin: auto;
	padding-top:7rem;
	width:4rem;
	height: 4rem;
}
#downarrow{
	width:100%;
	}
.foodpage{
	font-size: 3rem;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	text-align: center;
	color: rgba(255,70,10,1);
	padding-top: 4rem;
	padding-bottom: 2rem;
}
.secondpage{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-content: center;*/
	height: auto;
	width: 100vw;
	}
	@media all and (max-width: 800px) {
  .secondpage {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
		height: auto;
  	}
	}
	@media all and (max-width: 500px) {
  .secondpage{
    /* On small screens, we are no longer using row direction but column */
		height: auto;
  	}
	}
section{
	opacity: 1;
	background-color: rgba(255,221,51,1);
	width: 15rem;
	height: 18rem;
	border-radius: 1rem;
	margin:1.2rem;
	filter: drop-shadow(0 0.8rem 0.5rem #bcbcbc);
	cursor: pointer;
	/*transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;*/
	}
section:hover , section:active {
	opacity: 1;
	/*transform: rotateY(360deg);*/
	background-color:  #fff0a3;
	border-radius: 1rem;
	}
	@media all and (max-width: 500px) {
		section:hover{
			background-color: #fff0a3;
			opacity: 0.8;
			transform: none;
		}
	}
	.dominoDiv p{
		word-break: break-word;
	  max-width: 80%;
	  padding: 2rem;
		padding-bottom: 0;
		font-size: 0.9rem;
		line-height: 1.1;
		color: rgba(255,70,10,1);
		font-family:'Noto Sans', sans-serif;
		font-weight: 700;
		text-transform: capitalize;
	}

	.dominoDiv img{
		padding: 1rem;
		padding-top: 0.5rem;
	}
	.dominoDiv{
		position: absolute;
		top: 0;
		left: 0;
		width: 15rem;
		height: 18rem;
	}

	.clickmodal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 100; /* Sit on top */
	    padding-top: 1rem; /* Location of the box */
	    left: 0;
	    top: 0;
			margin-left:1vw;
			margin-right: 1vw;
			margin-top: 1vh;
	    width: 98vw; /* Full width */
	    height: 95vh; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgba(1,78,116,0.5); /* Black w/ opacity */

			border-radius: 1rem;
	}
	@media screen and (max-width: 500px){
		#clickmodalcontent{
			width: 20rem;
			height: 9rem;
		}
		.close2{
			margin-left: 75vw;
			font-size: 4rem;
		}
		#cooktime{
			width:20rem;
			height: 5rem;
		}
	}
	@media screen and (max-width: 800px){
		#clickmodalcontent{
			width: 30rem !important;
			height: 8rem !important;
		}
		.close2{
			margin-left: 80vw !important;
			font-size: 4rem !important;
		}
		#cooktime{
			width:30rem!important;
			height: 4rem !important;
		}
	}
	#managingdivs{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	#managingdivcol{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}
	#actualpics{
		width: 8rem;
		height:8rem;
		background-color: white;
		filter: drop-shadow(0 0.2rem 0.2rem #000);
		box-sizing: border-box;
		border-radius: 1rem;
		margin: 1rem;
		margin-left: 0;
	}
	#clickmodalcontent{
		word-break: break-word;
	  padding: 1rem;
		font-size: 0.8rem;
		line-height: 1.1;
		margin-left: 1rem;
		margin-bottom: 1rem;
		width: 60rem;
		height: 5rem;
		color: #fd3;
		line-height: 1rem;
		/*color: rgba(1,30,45,1);*/
		font-family:'Noto Sans', sans-serif;
		font-style: italic;
		border-radius: 1rem;
		border:4px solid rgba(1,30,45,1);
		background-color: rgba(1,30,45,1);
		filter: drop-shadow(0.0 0.2rem 0.3rem #000);
		box-sizing: border-box;
		text-align: center;
		display:flex;
		justify-content:center;
		align-items:center;
		overflow: auto;
	}
	#cooktime{
		width: 60rem;
		height:2rem;
		margin-left: 1rem;
		background-color: white;
		font-weight:700;
		filter: drop-shadow(0 0.2rem 0.2rem #000);
		box-sizing: border-box;
		border-radius: 1rem;
		font:0.8rem 'Noto Sans', sans-serif;
		color: rgba(1,30,45,1);
		display:flex;
		padding:0,1rem;
		justify-content:center;
		align-items:center;
	}
	em{
		font-weight: 700;
	}

	button{
		font-weight: 700 !important;
		font:0.8rem 'Noto Sans', sans-serif;
		/*color: rgba(255,70,10,1);*/
		color: white;
		background-color: rgba(1,30,45,1);
		padding:2px 5px;
		border-radius: 8px;
	}
	button:hover{
		color: rgba(255,70,10,1);
	}
	.close2{
		color: #fff;
		opacity: 0.8;
    position: absolute;
		margin-left:90vw;
		padding-bottom: 1rem;
    font-size: 4rem;
    font-weight: bold;
		cursor: pointer;
	}
	.close2:hover{
		opacity: 1;
	}






	.thirdpage{
		background-color: rgba(255,221,51,0);
		height: auto;
		width: 100vw;
	}
	.recipetime{
		font-size: 3rem;
		font-family: 'Amatic SC',cursive;
		font-weight: 700;
		text-align: center;
		/*color: rgba(255,70,10,1);*/
		color:white;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
	#recipediv{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		height: auto;
		padding-bottom: 2rem;
		overflow: scroll;
	}
	@media all and (max-width: 800px) {
  #recipediv {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
		height: auto;
		justify-content: space-around;
  	}
	}
	@media all and (max-width: 500px) {
  #recipediv{
    /* On small screens, we are no longer using row direction but column */
		height: auto;
  	}
	}

	.recipebutton{
		width: 12rem;
		height: 30rem;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	@media all and (max-width: 500px){
		.recipebutton{
			justify-content: center;
		}
	}
	/*buttons*/
	.buttony{
		background-color: rgba(1,30,45,1);
		border-radius: 1rem;
		width: 10rem;
		height: 3rem;
		margin: 0.25rem;
		cursor: pointer;
		filter: drop-shadow(0.1rem 0.1rem 0.2rem #000);
	}

	.buttony:hover {
		width: 12rem;
	}

	.buttony h3{
		margin-top: .5rem;
		text-align: center;
		color: white;
		font: 1.5rem 'Amatic SC',cursive;
		font-weight: 700;
	}
	.buttony h3:hover{
		color: rgba(255,70,10,1);
	}
	.buttony .buttonselected {
		color: rgba(255,70,10,1);
	}
	.changemyrecipe{
		background-color: rgba(1,30,45,1);
		border: 0.5rem solid rgba(1,30,45,1);
		border-radius: 1rem;
		color: white;
		font: 0.8rem 'Noto Sans', sans-serif;
		line-height: 1.2rem;
		width: 38rem;
		height: 30rem;
		margin: 1rem;
		padding: 0.5rem;
		box-sizing: border-box;
		filter: drop-shadow(0.2rem 0.2rem 0.3rem #000);
		overflow: auto;
	}
	@media print{
		#cooktimeprint{
			display: none !important;
			visibility: hidden;
		}
	}
	.justdrawingdiv{
		background-color: white;
		border-radius: 1rem;
		color: rgba(1,30,45,1);
		font: 0.8rem 'Noto Sans', sans-serif;
		border: 0.5rem solid #fff;
		width: 18rem;
		height: 30rem;
		margin: 1rem;
		box-sizing: border-box;
		filter: drop-shadow(0.2rem 0.2rem 0.3rem #000);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: scroll;
	}
	.justdrawingdiv img{
		border-radius: 1rem;
	}
	td:nth-child(1){
		text-align: right;
	}
	td:nth-child(2){
		font-weight: 700;
		color: #fd3;
	}
	strong ,caption{
		color:rgba(255,70,10,1);
		font-weight: 700;
		font: 1rem 'Noto Sans', sans-serif;
	}
/*	--------------------------------------------------------------------------------------
	FOOTER ---------------------------------------------------------------------------- */

footer {
	background-color: rgba(1,30,45,1);
	overflow: hidden;
	text-align: center;
	height: 5rem;
	color: white;
	}

footer div {
	display: inline;
	font: 0.8rem 'Noto Sans', sans-serif;
	padding: 0.5rem;
	margin:0.5rem;
	}
